<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
/>
<script>
   
    function addToPanier(productId) {
        const quantity = 1; // Default quantity set to 2

        // Send a POST request to the backend to add the product to the panier
        fetch(`/api/panier/add-to-panier?productId=${productId}&quantite=${quantity}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => {
            if (response.ok) {
                alert("Product added to panier successfully!");
            } else {
                alert("Failed to add product to panier.");
            }
        })
        .catch(error => {
            console.error("Error:", error);
            alert("An error occurred while adding the product to the panier.");
        });
    }


   
</script>
</head>
<body>
  <div class="container">
    <header>

    
     

<nav class="bg-white border-gray-200 dark:bg-transparent">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Flowbite Logo" />
        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-black">AjiNt9daw</span>
    </a>
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
        <i class="fa-solid fa-user"></i>
        <button data-collapse-toggle="navbar-cta" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-cta" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1 p-2" id="navbar-cta">
      <ul class="flex flex-col font-medium  md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-transparent md:dark:bg-transparent dark:border-gray-700">
        <li>
          <a th:href="@{/home}" class="block py-2 px-3 md:p-0 text-black bg-green-700 rounded-sm md:bg-transparent md:text-green-700 md:dark:text-green-500" aria-current="page">Acceuil</a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 md:p-0 text-black rounded-sm hover:bg-black md:hover:bg-transparent
           md:hover:text-green-700 md:dark:hover:text-green-500 dark:text-black dark:hover:bg-gray-700
            dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">à propos</a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 md:p-0 text-black rounded-sm hover:bg-black md:hover:bg-transparent
          md:hover:text-green-700 md:dark:hover:text-green-500 dark:text-black dark:hover:bg-gray-700
           dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Contact</a>
        </li>
        <li>
          <a href="#"  class="block py-2 px-3 md:p-0 text-black rounded-sm hover:bg-black md:hover:bg-transparent
          md:hover:text-green-700 md:dark:hover:text-green-500 dark:text-black dark:hover:bg-gray-700
           dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">commandes</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>
  
    </header>
     <div class="flex justify-center mt-45 pb-45" >
        <div class="w-4/6 p-5 m-5">
           <h2 class="text-4xl font-semibold leading-normal text-center ">
            Découvrez une large sélection de vêtements, chaussures et accessoires pour tous les goûts.</h2>
           <p  class=" font-semibold leading-normal ml-1 pt-1 text-center pt-3" >Connectez-vous pour profiter de tous nos services ! </p>
           <div class="flex flex-row  justify-center pt-3">
                  <a href="https://flowbite.com/docs/components/buttons/" target="_blank"><button type="button" class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none
            focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-xl text-sm px-5 py-2.5 text-center me-2 mb-2 mt-3">Green</button>
                  <a href="" target="_blank">
                    <a href="https://flowbite.com/docs/components/buttons/" target="_blank"><button type="button" class="text-black bg-transparent border-2 border-green-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none
                        focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-xl text-sm px-5 py-2.5 text-center me-2 mb-2 mt-3">Green</button>
                  </a>
         
        </div>
     
</a>
        </div>
        

     </div>
     <div class="w-full bg-gradient-to-r from-green-400 via-green-500 to-green-600 flex flex-col justify-center">
        <div>
            <h1 class="text-5xl text-white font-semibold leading-normal pt-4 text-center">Découvrez nos catégories</h1>
        </div>
        <div class="flex justify-around pt-20 pb-20">
           

<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">

        <img class="rounded-t-lg h-3/5 w-full" src="https://www.converse.com/dw/image/v2/BCZC_PRD/on/demandware.static/-/Sites-cnv-master-catalog/default/dwfee13f09/images/a_107/M9166_A_107X1.jpg?sw=964" alt="" />
  
    <div class="p-5">
     
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Produits vestimentaires
            </h5>

        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Découvrez notre collection de vêtements soigneusement sélectionnés pour vous offrir confort, qualité et style.</p>
        <a th:href="@{/clothingProductsPage}" target="_blank" class="inline-flex items-center mt-5 px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            voir plus

             <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a>
    </div>
</div>

            
<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">

    <img class="rounded-t-lg h-3/5 object-cover" src="https://img.freepik.com/free-photo/pasta-spaghetti-with-shrimps-sauce_1220-5072.jpg?w=2000&t=st=1678041911~exp=1678042511~hmac=e4aa55e70f8c231d4d23832a611004f86eeb3b6ca067b3fa0c374ac78fe7aba6" alt="" />

<div class="p-5">
 
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Produits alimentaires

        </h5>

    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Découvrez notre sélection de produits alimentaires de qualité, soigneusement choisis pour ravir vos papilles. Des fruits et légumes frais, des produits bio</p>
    <a th:href="@{/foodProductPage}" target="_blank
    " class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
    voir plus

         <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
    </a>
</div>
</div><div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">

    <img class="rounded-t-lg w-full h-3/5 object-cover " src="https://images.pexels.com/photos/374074/pexels-photo-374074.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" />

<div class="p-5">
 
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Produits Électroniques
        </h5>

    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Explorez notre gamme de produits électroniques innovants, alliant performance et design. Que vous recherchiez un smartphone dernier cri, un ordinateur portable ..</p>
    <a   th:href="@{/electronicProductsPage}" target="_blank" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 ">
        voir plus

         <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
    </a>
</div>
</div>
</div>       
     </div>
       <div class="flex  flex-col justify-center">
            <h1 class="text-4xl text-black font-semibold leading-normal pt-7 text-center">Découvrez nos Produits</h1>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 pl-15 pt-20">
              
                <div th:each="product, iterStat : ${products}" th:if="${iterStat.index < 6}" class="max-w-sm h-fit bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
                    <a href="#">
                        <img class="rounded-t-lg w-full h-[250px] object-cover" th:src="${product.urlImage}" alt="Product Image" />
                    </a>
                    <div class="p-5 flex flex-col">
                        <span class="me-2 rounded w-24 bg-green-500 px-2.5 py-0.5 text-xs font-medium text-primary-800 dark:bg-primary-900 dark:text-primary-300">
                            Up to 35% off
                        </span>
                        <p class="text-lg pt-4 text-white font-semibold leading-normal" th:text="${product.name ?: 'No description available'}">
                            Product Description
                        </p>
                        <div class="pt-4 flex items-center gap-2">
                            <div class="flex items-center">
                                <svg class="h-4 w-4 text-yellow-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                    <path d="M13.8 4.2a2 2 0 0 0-3.6 0L8.4 8.4l-4.6.3a2 2 0 0 0-1.1 3.5l3.5 3-1 4.4c-.5 1.7 1.4 3 2.9 2.1l3.9-2.3 3.9 2.3c1.5 1 3.4-.4 3-2.1l-1-4.4 3.4-3a2 2 0 0 0-1.1-3.5l-4.6-.3-1.8-4.2Z" />
                                </svg>
                                <svg class="h-4 w-4 text-yellow-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                    <path d="M13.8 4.2a2 2 0 0 0-3.6 0L8.4 8.4l-4.6.3a2 2 0 0 0-1.1 3.5l3.5 3-1 4.4c-.5 1.7 1.4 3 2.9 2.1l3.9-2.3 3.9 2.3c1.5 1 3.4-.4 3-2.1l-1-4.4 3.4-3a2 2 0 0 0-1.1-3.5l-4.6-.3-1.8-4.2Z" />
                                </svg>
                                <svg class="h-4 w-4 text-yellow-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                    <path d="M13.8 4.2a2 2 0 0 0-3.6 0L8.4 8.4l-4.6.3a2 2 0 0 0-1.1 3.5l3.5 3-1 4.4c-.5 1.7 1.4 3 2.9 2.1l3.9-2.3 3.9 2.3c1.5 1 3.4-.4 3-2.1l-1-4.4 3.4-3a2 2 0 0 0-1.1-3.5l-4.6-.3-1.8-4.2Z" />
                                </svg>
                            </div>
                        </div>
                        <div class="flex flex-row pt-3 justify-between">
                            <h2 class="text-4xl text-white font-semibold leading-normal" th:text="'$' + ${product.price}">
                                Price
                            </h2>
                            <p href="" class="inline-flex items-center px-3 py-2 pr-5 text-sm font-medium text-center text-white bg-green-500 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300"  th:attr="onclick='addToPanier(' + ${product.product_Id} + ')'">
                                Add to cart
                                <svg class="rtl:rotate-180 w-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
                                </svg>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
       </div>
       

<footer class="bg-white shadow-sm dark:bg-gray-900 mt-25">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Flowbite Logo" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">AjiNt9daw</span>
            </a>
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">à propos
                    </a>
                </li>
                
                <li>
                    <a href="#" class="hover:underline">Contact</a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2025 <p href="" class="hover:underline">Flowbite™</a>.Tous droits réservés.
</span>
    </div>
</footer>



</body>
</html>